---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import "../styles/global.css";
import Tarifas from "../components/Tarifas.astro";
import Ubicacion from "../components/Ubicacion.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contacto.astro";
import InstagramFeed from "../components/Instagram-Feed.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <Header />
    <Main />
    <Tarifas />
    <Servicios />
    <Ubicacion />
    <Contacto />
    <InstagramFeed />
  </main>
</Layout>
