---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import Main from "../components/ui/Main.astro";
import Tarifas from "../components/ui/Tarifas.astro";
import Ubicacion from "../components/ui/Ubicacion.astro";
import Servicios from "../components/ui/Servicios.astro";
import Contacto from "../components/ui/Contacto.astro";
import InstagramFeed from "../components/ui/Instagram-Feed.astro";
import Reglamento from "../components/ui/Reglamento.astro";
import DisponibilidadCabañas from "../components/reservas/DisponibilidadCabañas.jsx";
import WhatsappWidget from "../components/ui/WhatsappWidget.astro";

export const prerender = false;
---

<Layout>
  <main>
    <WhatsappWidget location="pichilemu" />
    <Header location="pichilemu" />
    <Main location="pichilemu" />
    <Tarifas location="pichilemu" />
    <Servicios location="pichilemu" />
    <Ubicacion location="pichilemu" />
    <DisponibilidadCabañas client:load location="pichilemu" />
    <Contacto location="pichilemu" />
    <InstagramFeed location="pichilemu" />
    <Reglamento location="pichilemu" />
  </main>
</Layout>
