<footer class="bg-gray-800 text-white text-center py-4">
  <p class="font-light text-xs">
    ©2025 Cabañas Atrapa Mar. Todos los derechos reservados. Created by
    <a
      href="https://portfolio-elias-silk.vercel.app/"
      target="_blank"
      class="underline">Cofla.Dev</a
    >
  </p>
</footer>
