---
import Image from "astro/components/Image.astro";
---

<main
  id="hero-section"
  class="w-full min-h-[70vh] bg-cover bg-center relative flex flex-col items-center justify-center text-white p-10 transition-all duration-1000 ease-in-out"
  style="background-image: url('/photo1.jpg');"
>
  <!-- Capa difuminada -->
  <div class="absolute inset-0 bg-black/20 backdrop-blur-sm"></div>

  <!-- Contenido -->
  <div class="flex flex-col z-10 text-center items-center">
    <Image
      src="/cabanas-atrapamar-log.png"
      alt="Cabañas Atrapa Mar Logo"
      width={200}
      height={200}
    />
    <h1 class="text-4xl font-bold mt-2">Cabañas Atrapa Mar</h1>
    <p class="text-lg mt-2 max-w-xl">
      Bienvenidos a Cabañas Atrapa Mar, un lugar para disfrutar y relajarse en
      Pichilemu.
    </p>
    <!--
    <a
      href="/reservas"
      class="font-semibold my-6 bg-red-400 text-white rounded-lg py-2 px-4 drop-shadow-lg hover:bg-red-500 transition-colors flex items-center gap-2"
    >
      
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right animate-bounce-right"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M13 18l6 -6"></path>
        <path d="M13 6l6 6"></path>
      </svg>
      Reserva Aquí
      
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left animate-bounce-left"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M5 12l6 6"></path>
        <path d="M5 12l6 -6"></path>
      </svg>
    </a>
  -->
  </div>
</main>

<!-- Animaciones CSS -->
<style>
  @keyframes bounce-left {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-8px);
    }
  }

  @keyframes bounce-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
  }

  .animate-bounce-left {
    animation: bounce-left 1.5s infinite;
  }

  .animate-bounce-right {
    animation: bounce-right 1.5s infinite;
  }
</style>

<script>
  const heroSection = document.getElementById("hero-section");
  const images = ["/photo1.jpg", "/photo2.jpg", "/photo3.jpg"];
  let currentIndex = 0;

  function changeBackground() {
    currentIndex = (currentIndex + 1) % images.length;
    if (heroSection) {
      heroSection.style.backgroundImage = `url('${images[currentIndex]}')`;
    }
  }

  setInterval(changeBackground, 3000);
</script>
