---

---

<section id="servicios" class="flex flex-col items-center justify-center mt-4">
  <h1 class="text-3xl font-bold mb-8 border-b-4 border-red-500 pb-2">
    Servicios
  </h1>
  <div class="p-8 m-6 bg-blue-400 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
      <div class="bg-gray-100 p-4 rounded-lg text-center md:text-base">
        <h2
          class="text-xl font-bold mb-4 md:justify-center justify-center flex items-start gap-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-home"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
              d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
              d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
          > Cabañas
        </h2>
        <ul class="text-gray-700 text-sm">
          <li>3 cabañas para 2 personas</li>
          <li>1 cabaña para 4 personas</li>
          <li>1 cabaña para 5 personas</li>
          <li>2 cabaña para 6 personas</li>
          <li>2 cabaña para 8 personas</li>
        </ul>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <h2
          class="text-xl font-bold mb-4 flex items-start gap-1 md:justify-normal justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-car"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
              d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
              d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"
            ></path></svg
          >Estacionamiento
        </h2>
        <p class="text-gray-700 text-center md:text-base">
          Disponemos de estacionamiento privado y seguro para nuestros
          huéspedes.
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <h2
          class="text-xl font-bold mb-4 flex items-start gap-1 md:justify-normal justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wifi"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 18l.01 0"></path><path d="M9.172 15.172a4 4 0 0 1 5.656 0"
            ></path><path d="M6.343 12.343a8 8 0 0 1 11.314 0"></path><path
              d="M3.515 9.515c4.686 -4.687 12.284 -4.687 17 0"></path></svg
          >Wi-Fi
        </h2>
        <p class="text-gray-700 text-center md:text-base">
          Contamos con Wi-Fi de alta velocidad en todas nuestras cabañas.
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <h2
          class="text-xl font-bold mb-4 flex gap-1 items start md:justify-normal justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-tools-kitchen"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 3h8l-1 9h-6z"></path><path d="M7 18h2v3h-2z"></path><path
              d="M20 3v12h-5c-.023 -3.681 .184 -7.406 5 -12z"></path><path
              d="M20 15v6h-1v-3"></path><path d="M8 12l0 6"></path></svg
          >Quincho
        </h2>
        <p class="text-gray-700 text-center md:text-base">
          Disponemos de un quincho para asados y eventos familiares.
        </p>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg">
        <h2
          class="text-xl font-bold mb-4 flex gap-1 items start md:justify-normal justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-paw"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M14.7 13.5c-1.1 -2 -1.441 -2.5 -2.7 -2.5c-1.259 0 -1.736 .755 -2.836 2.747c-.942 1.703 -2.846 1.845 -3.321 3.291c-.097 .265 -.145 .677 -.143 .962c0 1.176 .787 2 1.8 2c1.259 0 3 -1 4.5 -1s3.241 1 4.5 1c1.013 0 1.8 -.823 1.8 -2c0 -.285 -.049 -.697 -.146 -.962c-.475 -1.451 -2.512 -1.835 -3.454 -3.538z"
            ></path><path
              d="M20.188 8.082a1.039 1.039 0 0 0 -.406 -.082h-.015c-.735 .012 -1.56 .75 -1.993 1.866c-.519 1.335 -.28 2.7 .538 3.052c.129 .055 .267 .082 .406 .082c.739 0 1.575 -.742 2.011 -1.866c.516 -1.335 .273 -2.7 -.54 -3.052z"
            ></path><path
              d="M9.474 9c.055 0 .109 0 .163 -.011c.944 -.128 1.533 -1.346 1.32 -2.722c-.203 -1.297 -1.047 -2.267 -1.932 -2.267c-.055 0 -.109 0 -.163 .011c-.944 .128 -1.533 1.346 -1.32 2.722c.204 1.293 1.048 2.267 1.933 2.267z"
            ></path><path
              d="M16.456 6.733c.214 -1.376 -.375 -2.594 -1.32 -2.722a1.164 1.164 0 0 0 -.162 -.011c-.885 0 -1.728 .97 -1.93 2.267c-.214 1.376 .375 2.594 1.32 2.722c.054 .007 .108 .011 .162 .011c.885 0 1.73 -.974 1.93 -2.267z"
            ></path><path
              d="M5.69 12.918c.816 -.352 1.054 -1.719 .536 -3.052c-.436 -1.124 -1.271 -1.866 -2.009 -1.866c-.14 0 -.277 .027 -.407 .082c-.816 .352 -1.054 1.719 -.536 3.052c.436 1.124 1.271 1.866 2.009 1.866c.14 0 .277 -.027 .407 -.082z"
            ></path></svg
          >Somos Pet Friendly
        </h2>
        <p class="text-gray-700 text-center md:text-base">
          Ven con tu mascota, no la dejes sola en casa. Aquí son bienvenidos.
        </p>
      </div>
    </div>
  </div>
</section>
