---
import Map from "./Map";
---

<section class="flex flex-col items-center justify-center mt-4 w-full">
  <h1 class="text-3xl font-bold text-gray-900 mb-6">Ubicación</h1>
  <div class="px-4 text-center p-8 m-6 bg-red-400 rounded-lg">
    <p class="text-lg text-white mb-8">
      Ubicación privilegiada a tan solo 10 minutos caminando del Centro de
      Pichilemu y de la Playa
    </p>
    <p class="text-lg text-white mb-8">
      Dirección: Avenida Comercio con pasaje La Estrella #230
    </p>
    <div class="w-full max-w-6xl px-4">
      <div class="rounded-lg overflow-hidden shadow-lg border border-gray-200">
        <Map client:only="react" />
      </div>
    </div>
  </div>
</section>
