---
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/cabanas-atrapamar-log.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Cabañas Atrapa Mar</title>
  </head>
  <body>
    <slot />
    <Footer />
    <script>
      console.log("Página cargada - Astro");
      document.addEventListener("DOMContentLoaded", () => {
        console.log("DOM completamente cargado");
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
