---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import WhatsappWidget from "../components/WhatsappWidget.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Cabañas Atrapa Mar</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/cabanas-atrapamar-log.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Cabañas en Pichilemu, Chile. Disfruta de la tranquilidad y belleza del mar."
    />
    <meta name="keywords" content="Cabañas, Pichilemu, Chile, Mar, Atrapamar" />
    <meta name="author" content="Cofla.Dev" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.atrapamar.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cabañas Atrapa Mar" />
    <meta
      property="og:description"
      content="Cabañas en Pichilemu, Chile. Disfruta de la tranquilidad y belleza del mar."
    />
    <meta
      property="og:image"
      content="https://www.atrapamar.cl/cabanas-atrapamar-log.png"
    />
  </head>
  <body>
    <WhatsappWidget />
    <slot />
    <Footer />
    <script>
      console.log("Página cargada - Astro");
      document.addEventListener("DOMContentLoaded", () => {
        console.log("DOM completamente cargado");
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
