---
import Image from "astro/components/Image.astro";

// Recibe la ubicación como prop
const { location = "pichilemu" } = Astro.props as { location: keyof typeof locationConfig };

// Configura colores según ubicación
const locationConfig = {
  pichilemu: {
    borderColor: "border-red-500",
    title: "Cabañas en Pichilemu",
    cabañas: [
      {
        nombre: "Cabaña 2 personas",
        precio: "$25.000 c/ noche",
        descripcion: "Suite con baño privado",
        camas: { matrimoniales: 1, individuales: 0 },
        camarotes: 0,
        images: [
          { src: "/cabana-2p/port.jpeg", alt: "Cabaña 2 personas" },
          { src: "/cabana-2p/image1.jpeg", alt: "Cabaña 2 personas" },
          { src: "/cabana-2p/image2.jpeg", alt: "Cabaña 2 personas" },
          { src: "/cabana-2p/image3.jpeg", alt: "Cabaña 2 personas" },
        ],
      },
      {
        nombre: "Cabaña 4 personas",
        precio: "$35.000 c/ noche",
        descripcion: "Cabaña para 4 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 1, individuales: 0 },
        camarotes: 1,
        images: [
          { src: "/cabana-4p/port.jpeg", alt: "Cabaña 4 personas" },
          { src: "/cabana-4p/image1.jpeg", alt: "Cabaña 4 personas" },
          { src: "/cabana-4p/image2.jpeg", alt: "Cabaña 4 personas" },
          { src: "/cabana-4p/image3.jpeg", alt: "Cabaña 4 personas" },
          { src: "/cabana-4p/image4.jpeg", alt: "Cabaña 4 personas" },
          { src: "/cabana-4p/image5.jpeg", alt: "Cabaña 4 personas" },
        ],
      },
      {
        nombre: "Cabaña 5 personas",
        precio: "$40.000 c/ noche",
        descripcion: "Cabaña para 5 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 1, individuales: 1 },
        camarotes: 1,
        images: [
          { src: "/cabana-5p/port.jpeg", alt: "Cabaña 5 personas" },
          { src: "/cabana-5p/image1.jpeg", alt: "Cabaña 5 personas" },
          { src: "/cabana-5p/image2.jpeg", alt: "Cabaña 5 personas" },
          { src: "/cabana-5p/image3.jpeg", alt: "Cabaña 5 personas" },
          { src: "/cabana-5p/image4.jpeg", alt: "Cabaña 5 personas" },
          { src: "/cabana-5p/image5.jpeg", alt: "Cabaña 5 personas" },
        ],
      },
      {
        nombre: "Cabaña 6 personas",
        precio: "$45.000 c/ noche",
        descripcion: "Cabaña para 6 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 1, individuales: 0 },
        camarotes: 2,
        images: [
          { src: "/cabana-6p/port.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image1.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image2.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image3.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image4.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image5.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image6.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image7.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image8.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image9.jpeg", alt: "Cabaña 6 personas" },
          { src: "/cabana-6p/image10.jpeg", alt: "Cabaña 6 personas" },
        ],
      },
      {
        nombre: "Cabaña 8 personas",
        precio: "$50.000 c/ noche",
        descripcion: "Cabaña para 8 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 2, individuales: 0 },
        camarotes: 2,
        images: [
          { src: "/cabana-8p/port.jpeg", alt: "Cabaña 8 personas" },
          { src: "/cabana-8p/image1.jpeg", alt: "Cabaña 8 personas" },
          { src: "/cabana-8p/image2.jpeg", alt: "Cabaña 8 personas" },
          { src: "/cabana-8p/image3.jpeg", alt: "Cabaña 8 personas" },
          { src: "/cabana-8p/image4.jpeg", alt: "Cabaña 8 personas" },
          { src: "/cabana-8p/image5.jpeg", alt: "Cabaña 8 personas" },
        ],
      },
    ]
  },
  laserena: {
    borderColor: "border-blue-500",
    title: "Cabañas en La Serena",
    cabañas: [
      {
        nombre: "Cabaña El Valle ",
        precio: "$32.000 c/ noche",
        descripcion: "Cabaña en La Serena para 4 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 1, individuales: 2},
        camarotes: 0,
        images: [
          { src: "/la-serena/el-valle/photo1.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo2.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo3.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo4.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo5.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo6.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo7.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo8.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo9.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo10.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo11.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo12.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo13.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo14.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo15.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
          { src: "/la-serena/el-valle/photo16.jpeg", alt: "Cabaña El Valle 4 personas La Serena" },
        ],
      },
      {
        nombre: "Cabaña El Faro",
        precio: "$40.000 c/ noche",
        descripcion: "Cabaña en La Serena para 7 a 8 personas, con baño privado y cocina equipada.",
        camas: { matrimoniales: 1, individuales: 3 },
        camarotes: 1,
        images: [
          { src: "/la-serena/el-faro/photo1.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo2.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo3.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo4.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo5.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo6.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo7.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo8.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo9.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo10.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo11.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
          { src: "/la-serena/el-faro/photo12.jpeg", alt: "Cabaña en El Faro 7 a 8 personas La Serena" },
        ],
      },
    ]
  }
};

const currentConfig = locationConfig[location] || locationConfig.pichilemu;
---

<section class="container mx-auto p-6 flex flex-col justify-center items-center" id="cabañas">
  <div class="w-full mb-16">
    <h1 class={`text-3xl font-bold mb-8 border-b-4 ${currentConfig.borderColor} pb-2`}>
      {currentConfig.title}
    </h1>
    
    <!-- Contenedor de tarjetas -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center">
      {currentConfig.cabañas.map((cabaña) => (
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden max-w-[380px] w-full">
          <!-- Carrusel -->
          <div class="relative w-full h-[400px] overflow-hidden">
            <div
              class="flex transition-transform duration-500 carousel"
              style={`width: ${cabaña.images.length * 100}%;`}
            >
              {cabaña.images?.map((img) => (
                <Image
                  src={img.src}
                  alt={img.alt}
                  width={400}
                  loading="eager"
                  height={400}
                  class="w-full h-[400px] object-cover flex-shrink-0"
                  style={`width: ${100 / cabaña.images.length}%;`}
                />
              ))}
            </div>

            <!-- Botón izquierda -->
            <button class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/50 text-white p-2 rounded-full prev-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M13 20l-3 -8l3 -8" />
              </svg>
            </button>

            <!-- Botón derecha -->
            <button class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/50 text-white p-2 rounded-full next-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-right">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M11 4l3 8l-3 8" />
              </svg>
            </button>
          </div>

          <!-- Información -->
          <div class="p-4">
            <h2 class="text-xl font-bold">{cabaña.nombre}</h2>
            <p class="text-gray-600">{cabaña.descripcion}</p>

            <!-- Íconos de camas y camarotes -->
            <div class="flex items-center gap-4 mt-2">
              <!-- Ícono de cama matrimonial -->
              {cabaña.camas.matrimoniales > 0 && (
                <div class="flex items-center gap-1">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 10.1707V6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V10.1707C23.1652 10.5825 24 11.6938 24 13V20C24 20.5523 23.5523 21 23 21C22.4477 21 22 20.5523 22 20V19H2V20C2 20.5523 1.55228 21 1 21C0.447715 21 0 20.5523 0 20V13C0 11.6938 0.834808 10.5825 2 10.1707ZM4 6C4 5.44772 4.44772 5 5 5H19C19.5523 5 20 5.44772 20 6V10H19V9C19 7.34315 17.6569 6 16 6H14C13.2316 6 12.5308 6.28885 12 6.7639C11.4692 6.28885 10.7684 6 10 6H8C6.34315 6 5 7.34315 5 9V10H4V6ZM17 10V9C17 8.44772 16.5523 8 16 8H14C13.4477 8 13 8.44772 13 9V10H17ZM11 10V9C11 8.44772 10.5523 8 10 8H8C7.44772 8 7 8.44772 7 9V10H11ZM21 12C21.5523 12 22 12.4477 22 13V17H2V13C2 12.4477 2.44772 12 3 12H21Z" fill="#0F0F0F"/>
                  </svg>
                  <span>{cabaña.camas.matrimoniales}</span>
                </div>
              )}

              <!-- Ícono de cama individual -->
              {cabaña.camas.individuales > 0 && (
                <div class="flex items-center gap-1">
                  <svg width="24" height="24" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><path class="cls-1" d="M3.66,10.11H20.34a2.16,2.16,0,0,1,2.16,2.16V16.8a0,0,0,0,1,0,0H1.5a0,0,0,0,1,0,0V12.28A2.16,2.16,0,0,1,3.66,10.11Z"/><path class="cls-1" d="M4.59,1.52H19.41a2.13,2.13,0,0,1,2.13,2.13v6.46a0,0,0,0,1,0,0H2.45a0,0,0,0,1,0,0V3.66A2.13,2.13,0,0,1,4.59,1.52Z"/><path class="cls-1" d="M9.51,6.3h5a2.28,2.28,0,0,1,2.28,2.28v1.54a0,0,0,0,1,0,0H7.23a0,0,0,0,1,0,0V8.58A2.28,2.28,0,0,1,9.51,6.3Z"/><rect class="cls-1" x="1.5" y="16.8" width="21" height="3.82"/><line class="cls-1" x1="2.45" y1="23.48" x2="2.45" y2="20.61"/><line class="cls-1" x1="21.55" y1="23.48" x2="21.55" y2="20.61"/></svg>
                  <span>{cabaña.camas.individuales}</span>
                </div>
              )}

              <!-- Ícono de camarote (solo si hay camarotes) -->
              {cabaña.camarotes > 0 && (
                <div class="flex items-center gap-1">
                  <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 566.101 566.101" xml:space="preserve">
                    <g>
                      <g id="Layer_1_138_">
                        <g>
                          <path d="M533.548,36.975c-16.575,0-30.601,14.025-30.601,30.6V168.3h-438.6V30.6c0-16.575-14.025-30.6-30.6-30.6c-16.575,0-30.6,14.025-30.6,30.6v504.9c0,16.575,14.025,30.601,30.6,30.601c16.575,0,30.6-14.025,30.6-30.601v-35.7h437.325v35.7c0,16.575,14.024,30.601,30.6,30.601s30.6-14.025,30.6-30.601V67.575C564.147,51,550.122,36.975,533.548,36.975z M64.348,427.125v-183.6h437.325V428.4H64.348V427.125z"/>
                          <circle cx="131.922" cy="360.825" r="43.35"/>
                          <path d="M439.197,326.4h-209.1c-21.675,0-39.525,17.85-39.525,38.25c0,21.675,17.85,38.25,39.525,38.25h210.375c21.675,0,39.524-17.851,39.524-38.25C478.723,344.25,460.872,326.4,439.197,326.4z"/>
                          <circle cx="131.922" cy="102" r="43.35"/>
                          <path d="M230.098,145.35h210.375c21.675,0,39.524-17.85,39.524-38.25c0-21.675-17.85-38.25-39.524-38.25H230.098c-21.675,0-39.525,17.85-39.525,38.25C190.572,128.775,208.422,145.35,230.098,145.35z"/>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <span>{cabaña.camarotes}</span>
                </div>
              )}
            </div>

            <p class="text-lg font-semibold mt-2">{cabaña.precio}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const carousels = document.querySelectorAll('.carousel');

    carousels.forEach((carousel) => {
      const images = carousel.children;
      const prevButton = carousel.parentElement?.querySelector('.prev-button');
      const nextButton = carousel.parentElement?.querySelector('.next-button');
      let i = 0;

      function updateCarousel() {
        (carousel as HTMLElement).style.transform = `translateX(-${i * (100 / images.length)}%)`;
      }

      nextButton?.addEventListener('click', () => {
        i = (i + 1) % images.length;
        updateCarousel();
      });

      prevButton?.addEventListener('click', () => {
        i = (i - 1 + images.length) % images.length;
        updateCarousel();
      });
    });
  });
</script>